<!DOCTYPE html>
<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->
    <div style="text-align:center;margin-top:50px"class="container">
      <h1><%=pembuka%></h1>
      <h5><%=pilih%></h5>
    </div>

  </body>
</html>
